.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 / 5;
  min-height: 100vh;
  padding: 0 1rem;
  gap: 16px;

  @media (min-width: 992px) {
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
  }
}

.container {
  width: 100%;
}

.mobilHero {
  grid-column: 1 / 5;
  width: 100%;
  height: 250px;
  position: relative;

  @media (min-width: 992px) {
    display: none;
  }
}
