.descriptionBox {
  background-color: var(--secondary);
  color: var(--white);
  padding: 1rem;
  width: 100%;
  @media (min-width: 992px) {  
    margin: 1rem;
    max-width: 350px;
  }
}

.boxPreHeader {
  font-size: 16px;
  font-weight: 200;
  color: var(--white);
  margin: 1rem 0;
}